.loader {
  &--sm {
    padding: 0.5em;
  }

  &--md {
    font-size: 1em;
  }

  &--lg {
    font-size: 1.2em;
  }

  &--xl {
    font-size: 1.4em;
  }

  &--sm, &--md, &--lg, &--xl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
}

.loaderText {
  &--sm {
    font-size: 0.8em;
  }

  &--md {
    font-size: 1em;
  }

  &--lg {
    font-size: 1.2em;
  }

  &--xl {
    font-size: 1.4em;
  }
}

.spinner {
  &--sm {
    width: 1em;
    height: 1em;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
  }

  &--md {
    width: 2em;
    height: 2em;
    border: 0.2em solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
  }

  &--lg {
    width: 3em;
    height: 3em;
    border: 0.3em solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
  }

  &--xl {
    width: 4em;
    height: 4em;
    border: 0.4em solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
  }

  &--sm, &--md, &--lg, &--xl {
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
